* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;            /* 요소의 크기를 padding과 border를 포함한 크기로 계산 */
  font-family: "GmarketSansMedium";  /* 기본 폰트 설정 */
}

.body {
  margin-top: 100px;                 /* 네비게이션 바 높이만큼 높이 설정 */
  background-color: #F7F6F3;
}

@font-face {
  /* 얇은 글씨체 */
  font-family: "GmarketSansLight";
  src: local("GmarketSansLight"),
  url("../public/assets/fonts/GmarketSansLight.otf") format("truetype");
}

@font-face {
  /* 기본 글씨체 */
  font-family: "GmarketSansMedium";
  src: local("GmarketSansMedium"),
  url("../public/assets/fonts/GmarketSansMedium.otf") format("truetype");
}

@font-face {
  /* 굵은 글씨체 */
  font-family: "GmarketSansBold";
  src: local("GmarketSansBold"),
  url("../public/assets/fonts/GmarketSansBold.otf") format("truetype");
}

@font-face {
  /* 로고 글씨체 */
  font-family: "HSSantokkiRegular";
  src: local("HSSantokkiRegular"),
  url("../public/assets/fonts/HSSantokkiRegular.ttf") format("truetype");
}
